body{
    background-color: rgb(178, 235, 237);
}
h1{
    color: rgb(1, 0, 0);
    text-align: center;
}
img{
    border-radius: 10%;
}
p{
    color: rgb(0, 0, 0);
    font-style: normal;
}
